:root {
  // success
  --color-success: #0f9954;

  // danger
  --color-danger: #990f2b;

  // light
  --color-light-100: #fff;
  --color-light-500: #bfb2fd;
  --color-light-700: #ab80ff;
  --color-light-900: #9364fa;

  // dark
  --color-dark-100: #808080;
  --color-dark-300: #4c4c4c;
  --color-dark-900: #000;
}
