.header {
  user-select: none;

  height: 64px;
  padding-inline: 50px;

  line-height: 64px;
  color: #fff;
  text-align: center;

  background-color: var(--color-light-700);
}

.asdasd {
  & > div {
    background-color: var(--color-light-500);
  }
}

.content {
  min-height: 120px;

  line-height: 120px;
  color: #fff;
  text-align: center;

  background-color: var(--color-light-500);
}

.footer {
  color: #fff;
  text-align: center;
  background-color: var(--color-light-700);
}
